{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Roki Miftah Kamaludin" />
    <meta name="description" content="Chatgora" />
    <meta name="keywords" content="Chatgora" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="https://cdn.rokimiftah.id/projects/django/chatgora/favicon.ico"
          type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Chatgora</title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
